@media (min-width: 360px) {
    #page-search-result {
        margin: 0 0 0 15px;
    }

    #page-search-result header a {
        margin-left: 59px;
    }

    #page-search-result header a span {
        width: 23px;
        margin: 0 4px 4px 0;
    }

    #page-search-result main .cards h1,
    #page-search-result main .cards h3,
    #page-search-result main .cards p,
    #page-search-result main h4 {
        text-align: center;
    }

    #page-search-result main .cards {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 500px) {
    #page-search-result main .cards {
        grid-template-columns: 1fr 1fr;
    }

    #page-search-result main .card h1 {
        font-size: 32px;
    }

    #page-search-result main .card h3 {
     font-size: 18px;   
    }

    #page-search-result main .card p {
        font-size: 16px;
    }
}

@media (min-width: 800px) {
    body {
        margin-left: 40px;
    }

    #page-search-result header a {
        font-size: 20px;
    }

    #page-search-result main .card h1 {
        font-size: 36px;
    }
    #page-search-result main .card h3 {
         font-size: 22px;
    }

    #page-search-result main .card p {
        font-size: 17px;
    }
}

@media (min-width: 1100px) {
    #page-search-result {
        margin: 0 0 0 75px;
    }

    #page-search-result main .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}