#modal {
    height: 92vh;
    width: 90vw;
    background-color: #0E0A14ef;
    position: fixed;
    top: 30px;
    right: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms;
}
#modal.hide {
    display: none;
    /*significa que ele não vai aparecer na tela*/
}
#modal .content {
    color: white;
    width: 420px;
}
#modal .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
}
#modal .header a {
    background: url("../assets/x.svg");
    width: 20px;
    height: 20px;
    display: flex;
    font-size: 0.01px;
    transition: 500ms;
}
#modal .header a:active,
#modal .header a:hover {
    background-image: url("../assets/x-hover-active.svg");
}
#modal .header h1 {
    color: white;
    font-size: 36px;
    line-height: 42px;
}
#modal form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
#modal input {
    background-color: var(--input-color);
    border: 0;
    border-radius: 8px 0 0 8px;
    color: #6c6c80;
    font-size: 16px;
    height: 50px;
    padding: 16px 24px;
    width: 300px;
}
#modal button {
    background-color: var(--primary-color);
    border: 0;
    border-radius: 0 8px 8px 0;
    color: white;
    font-size: 15px;
    font-weight: bold;
    height: 50px;
    transition: 500ms;
    width: 416px;
}
#modal button:active,
#modal button:hover {
    background-color: var(--button-hover-color);
}

#modal .field-search {
    display: flex;
    flex-direction: column;
}
/* modal do create-point 
   e do fail*/
#modal-fail.fail,
#modal.point .content {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#modal-fail.fail h1,
#modal.point h1 {
    color: white;
    margin-top: 30px;
}
#modal-fail.fail .content {
    background-color: #0e0a14ef;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 92vh;
    position: fixed;
    top: 30px;
    right: 45px;
    transition: 500ms;
    width: 92vw;
}

#modal-fail.fail .content a {
    background-image: url("../assets/x.svg");
    display: flex;
    font-size: 0.01px;
    height: 20px;
    transition: 500ms; 
    width: 20px;
}
#modal-fail.fail .content a:active,
#modal-fail.fail .content a:hover {
    background-image: url("../assets/x-hover-active.svg");
}
#modal-fail.fail .content .cadas {
    display: flex;
    flex-direction: column;
    align-items: center;
}